[submodule "Lesson1/ListLesson"]
	path = Lesson1/ListLesson
	url = git@github.com:smay1613/ListLesson.git
[submodule "Lesson1/VectorLesson"]
	path = Lesson1/VectorLesson
	url = git@github.com:smay1613/VectorLesson.git
[submodule "Lesson3/QueueLesson"]
	path = Lesson3/QueueLesson
	url = git@github.com:smay1613/QueueLesson.git
[submodule "Lesson3/StackLesson"]
	path = Lesson3/StackLesson
	url = git@github.com:smay1613/StackLesson.git
[submodule "Lesson5/SetLesson"]
	path = Lesson5/SetLesson
	url = git@github.com:smay1613/SetLesson.git
[submodule "Lesson5/MapLesson"]
	path = Lesson5/MapLesson
	url = git@github.com:smay1613/MapLesson.git
